# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Builds
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Offline JSON Database Fallback
server/data/db.json

# Editor / OS Files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
